<% include ../partials/header %>
<h1 class=" d-flex justify-content-center">
	Edit Your Review....
</h1>
<div class=row>
	<form action="/movies/<%=movie%>/comments/<%=comment._id%>?_method=PUT" class="mx-auto" method="POST">
		<div class="form-group">
			<input class="form-control " type="text" name="com[text]" placeholder="review" value="<%=comment.text%>"required>
			<input class="form-control " type="text" name="com[rat]" placeholder="rate out of 5" value="<%=comment.rat%>"required>
		</div> 
		<div class="form-group">
			<input class="btn  form-control btn-primary" type="submit">
			<br>
			<a href="/movies">Go Back </a>
		</div>
	</form>
</div>
<% include ../partials/footer %>